/* --------- 全局样式 -------*/
* { padding: 0; margin: 0; }
a { text-decoration: none; }

/* ---------- header -----------*/
header { height: 122px; width: 100%; }

/* ---------- 顶部 -------- */
.wrap { width: 1200px; margin: 0 auto; }
#top { height: 35px; width: 100%; line-height: 35px; border-top: solid 1px #d9d9d9; border-bottom: solid 1px #d9d9d9; }
#top a { float: right; color: #525261; font-size: 10px; transition: color 0.5s linear; }
#top a:hover { color: #ff9326; }

/* -------- 导航栏  ---------- */
#nav { height: 85px; width: 100%; }
#nav #logo { float: left; display: inline; width: 215px; height: 72px; padding-top: 13px; }
#nav #list { float: right; }
#nav ul { list-style: none; margin: 0px; }
#nav ul li { float: left; position: relative; }
#nav ul li>a { display: inline-block; width: 130px; height: 45px; line-height: 45px; padding: 20px 0px; text-align: center; color: #20242c; font-size: 18px; }
#nav ul li>a:hover { background: #2a2c5d; color: #fff; }

/* -------- 二级菜单 ----------- */
#list dl { background: rgba(38, 48, 101, 0.8); position: absolute; width: 230px; line-height: 40px; z-index: 1; }
#list dl a { color: #fff; font-size: 15px; padding: 26px; }
#list dl a:hover { text-decoration: underline; }
#list #a11 { height: 0px; overflow: hidden; transition: all 0.3s linear; }
#list #a10:hover #a11 { height: 210px; }
#list #a21 { height: 0px; overflow: hidden; transition: all 0.3s linear; }
#list #a20:hover #a21 { height: 210px; }
#list #a31 { width: 130px; height: 0px; overflow: hidden; transition: all 0.3s linear; }
#list #a30:hover #a31 { height: 210px; }