/*---------- banner ----------*/
.banner { width: 100%; height: 420px; background: url(../images/gywm.jpg) top center no-repeat; }

/*------- content ---------*/
.content { position: relative; width: 100%; }
.content-wrap { position: relative; width: 1320px; margin: 0 auto; }
.content-head { position: absolute; top: -50px; width: 250px; height: 75px; text-align: center; color: #fff; background: #ff9326; padding-top: 25px; }
.content-title { font-size: 20px; }
.content-sub-title { font-size: 18px; }
.content-left { float: left; display: inline; width: 250px; padding-top: 80px; }
.content-left ul { list-style: none; }
.content-left ul li { position: relative; width: 250px; height: 50px; line-height: 50px; font-size: 16px; text-align: center; cursor: pointer; }
.content-left ul li a { color: #666; display: block; width: 220px; height: 50px; line-height: 50px; padding-left: 30px; text-align: left; }
.content-left ul li a:hover { background-color: #edecf1; color: #263065; }
.content-right { float: right; width: 1000px; height: 480px; overflow: hidden; margin-bottom: 50px; }
.content-nav { float: right; width: 100%; margin-top: 18px; text-align: right; color: #a8a8b7; font-size: 14px; }
.content-nav a { font-size: 14px; padding-left: 20px; background: url(../images/product_fang.png) no-repeat; background-position: left; color: #797f92; }
.content-wrap h2 { width: 100%; padding-bottom: 10px; margin-top: 20px; font-weight: normal; font-size: 24px; color: #333; border-bottom: 2px solid #999; }
.content-data { line-height: 36px; font-size: 16px; color: #221815; }
.content-data p { margin-top: 20px; text-indent: 2em; }
