/*---------- banner ----------*/
.banner { width: 100%; height: 420px; background: url(../images/new.jpg) top center no-repeat; }

/*------- content ---------*/
.content { position: relative; width: 100%; }
.content-wrap { position: relative; width: 1320px; margin: 0 auto; }
.content-head { position: absolute; top: -50px; width: 250px; height: 75px; text-align: center; color: #fff; background: #ff9326; padding-top: 25px; }
.content-title { font-size: 20px; }
.content-sub-title { font-size: 18px; }
.content-left { float: left; display: inline; width: 250px; padding-top: 80px; }
.content-right { float: right; width: 1000px; margin-bottom: 50px; }
.content-nav { float: right; width: 100%; margin-top: 18px; text-align: right; color: #a8a8b7; font-size: 14px; }
.content-nav a { font-size: 14px; padding-left: 20px; background: url(../images/product_fang.png) no-repeat; background-position: left; color: #797f92; }
.content-wrap h2 { width: 100%; padding-bottom: 10px; margin-top: 20px; font-weight: normal; font-size: 24px; color: #333; border-bottom: 2px solid #999; }
.content-data { line-height: 36px; font-size: 16px; color: #221815; }
.content-data p { margin-top: 20px; text-indent: 2em; }
.content-data dl { margin-top: 50px; overflow: hidden; margin-left: 20px; }
.content-data dl dt { float: left; width: 222px; height: 152px; }
.content-data dl img { width: 222px; height: 152px; }
.content-data dl dd { width: 660px; float: left; margin-left: 20px; height: 150px; }
.content-data dl dd a { color: #797f92; }
.content-data dl dd a b { color: #545454; }
/*-------- 右侧时间线 ---------*/
.rside { width: 136px; float: right; margin-top: 34px; }
.rside div:first-child { border-right: 2px dotted #d1d1d1; height: 88px; width: 2px; float: left; margin-left: 30px; }
.rside-c { float: left; margin-left: 35px; }
.rside-c b:first-child { display: block; font-weight: normal; font-size: 20px; color: #000; }
.rside-c b:nth-child(2) { font-weight: normal; font-size: 16px; color: #797f92; }
.rside-c p { margin-top: 0px; width: 40px; height: 40px; background: url(../images/product_1.png); }
/*------- 分页 ---------*/
.pages { width: 100%; height: 30px; margin-top: 30px; padding: 10px 0px; text-align: center; font-size: 14px; }
.pages a, span { display: inline-block; width: 30px; height: 30px; line-height: 30px; margin: 0 4px; vertical-align: middle; border-radius: 3px; text-align: center; }
.pages a { width: 30px; height: 30px; color: #515151; background-color: #FFFFFF; border: solid 1px #cccccc; }
.pages .previous { width: 30px; height: 30px; background: url(../images/previous.png) 0px 0px no-repeat; }
.pages .next { width: 30px; height: 30px; background: url(../images/next.png) 0px 0px no-repeat; }
.pages .current { color: #515151; }
