<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>唯爱婚纱</title>
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/footer.css">
</head>
<body>
	
	<!-- 顶部 -->
	<section class="header">
		<img src="imgs/p1.jpg">
		<ul>
			<li><a href="index.html">首页</a></li>
			<li><a href="page1.html">婚纱摄影</a></li>
			<li><a href="page2.html">风格介绍</a></li>
			<li><a href="page3.html">关于我们</a></li>
			<li><a href="page4.html">联系我们</a></li>
		</ul>
	</section>

	<div class="banner"></div>

	<!-- 第一部分 -->
	<section class="s1">
		<img src="imgs/p2.jpg" alt="">
		<img src="imgs/p3.jpg" alt="">
		<img src="imgs/p4.jpg" alt="">
		<img src="imgs/p5.jpg" alt="">
	</section>

	<!-- 第二部分 -->
	<section class="s2">
		<div class="head">
			<div class="title">全新样照</div>
			<div class="sub-title">全新体验，专属定制，开启高端婚照享受之旅</div>
		</div>

		<div class="box">
			<div class="c-head">
				苏格兰马道主题风格<br>
				<span>JULIA LOVE SONG</span><br>
				——
			</div>
			<div class="c-box" id="c1"></div>
		</div>

		<div class="box">
			<div class="c-head">
				怦然心动主题风格 <br>
				<span>PALPITATE WITH EXCITEMENT</span> <br>
				——
			</div>
			<div class="c-box" id="c2"></div>
		</div>
	
		<div class="box">
			<div class="c-head">
				唯爱主题风格 <br>
				<span>ONLY LOVE</span> <br>
				——
			</div>
			<div class="c-box" id="c3"></div>
		</div>
	</section>

	<div class="clear"></div>

	<!-- 第三部分 -->
	<section class="s3">
		<div class="head">
			<div class="title">最新客照</div>
			<div class="sub-title">全新体验，专属定制，开启高端婚照享受之旅</div>
		</div>
		<div class="s3-box">
			<div id="a1" class="a">
				<img src="imgs/p9.jpg" alt="">
				<div id="b1"></div>
			</div>
			<div id="a2" class="a">
				<img src="imgs/p10.jpg" alt="">
				<div id="b2"></div>
			</div>
			<div id="a3" class="a">
				<img src="imgs/p11.jpg" alt="">
				<div id="b3"></div>
			</div>
			<div id="a4" class="a">
				<img src="imgs/p12.jpg" alt="">
				<div id="b4"></div>
			</div>
			<div id="a5" class="a">
				<img src="imgs/p13.jpg" alt="">
				<div id="b5"></div>
			</div>
			<div id="a6" class="a">
				<img src="imgs/p14.jpg" alt="">
				<div id="b6"></div>
			</div>
		</div>
		<a href="##">查看更多</a>
	</section>

	<!-- 第四部分 -->
	<section class="s4">
		<div class="head">
			<div class="title">最新动态</div>
			<div class="sub-title">全新体验，专属定制，开启高端婚照享受之旅</div>
		</div>
		<div class="s4-box">
			<div class="s4-left">
				<img src="imgs/p15.jpg" alt="">
				<div class="t1">新人订婚仪式中需要注意事项</div>
				<div class="t2">结婚是人的一生中最重要的大事，在婚礼之前最为隆重的就是订婚了，可是现在80后结婚的新人，对订婚并不了解，但是订婚作为中国古老文明的国家的老传统，还是需要注意了解...</div>
			</div>
			<div class="s4-right">
				<div class="t1">教你了解一场婚礼到底需要多少人<span>2016-11-25</span></div>
				<div class="t2">大家都知道一场完美的婚礼需要我们前期的筹备，无论是婚礼现场布置的筹备，还是人员配备上的筹备，都是需要我们提前了解的....</div>

				<div class="t3"></div>

				<div class="t1">最佳婚礼伴娘你选对了吗？<span>2016-11-25</span></div>
				<div class="t2">对于新人来说伴娘也是很重要的，时时刻刻陪伴在新娘左右，为新娘服务。另外，有她们陪你出嫁更是倍添温馨和欢乐。所以新人...</div>

				<div class="t3"></div>

				<div class="t1">拍婚纱照如何选择服装的小技巧<span>2016-11-25</span></div>
				<div class="t2">拍婚纱照是每对新人在结婚时都会做的一件事，而且将拍婚纱照定为结婚必做的事情。新人们在拍婚纱照时会有这样的疑问，拍婚...</div>
			</div>
		</div>
	</section>

	<div class="clear"></div>

	<!-- 脚部 -->
	<section class="footer">
		<div class="nav">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="page1.html">婚纱摄影</a></li>
				<li><a href="page2.html">风格介绍</a></li>
				<li><a href="page3.html">关于我们</a></li>
				<li><a href="page4.html">联系我们</a></li>
			</ul>
			<div>©2016 唯爱婚纱 版权所有</div>
			<div><a href="##">手机版</a> | 本站使用凡科建站搭建 | <a href="##">管理登录</a></div>
		</div>
	</section>

</body>
</html>