<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>唯爱婚纱</title>
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/page4.css">
	<link rel="stylesheet" href="css/footer.css">
</head>
<body>
	
	<!-- 顶部 -->
	<section class="header">
		<img src="imgs/p1.jpg">
		<ul>
			<li><a href="index.html">首页</a></li>
			<li><a href="page1.html">婚纱摄影</a></li>
			<li><a href="page2.html">风格介绍</a></li>
			<li><a href="page3.html">关于我们</a></li>
			<li><a href="page4.html">联系我们</a></li>
		</ul>
	</section>

	<div class="banner"></div>

	<div class="wrap">
		<div class="box">
			<img src="imgs/p39.png" alt="">
			<div>联系邮箱<br><span>344349628@qq.com</span></div>
		</div>

		<div class="box">
			<img src="imgs/p40.png" alt="">
			<div>联系地址<br><span>广东省广州市海珠区倾城汇婚庆广场</span></div>
		</div>

		<div class="box">
			<img src="imgs/p41.png" alt="">
			<div>联系电话<br><span>18825039863</span></div>
		</div>
		<img src="imgs/p38.png" alt="">
	</div>

	<!-- 脚部 -->
	<section class="footer">
		<div class="nav">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="page1.html">婚纱摄影</a></li>
				<li><a href="page2.html">风格介绍</a></li>
				<li><a href="page3.html">关于我们</a></li>
				<li><a href="page4.html">联系我们</a></li>
			</ul>
			<div>©2016 唯爱婚纱 版权所有</div>
			<div><a href="##">手机版</a> | 本站使用凡科建站搭建 | <a href="##">管理登录</a></div>
		</div>
	</section>

</body>
</html>