<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>唯爱婚纱</title>
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/page2.css">
	<link rel="stylesheet" href="css/footer.css">
</head>
<body>
	
	<!-- 顶部 -->
	<section class="header">
		<img src="imgs/p1.jpg">
		<ul>
			<li><a href="index.html">首页</a></li>
			<li><a href="page1.html">婚纱摄影</a></li>
			<li><a href="page2.html">风格介绍</a></li>
			<li><a href="page3.html">关于我们</a></li>
			<li><a href="page4.html">联系我们</a></li>
		</ul>
	</section>

	<div class="banner"></div>

	<section class="s2">
		<div class="box">
			<div class="c-head">
				苏格兰马道主题风格<br>
				<span>JULIA LOVE SONG</span><br>
				——
			</div>
			<div class="c-box" id="c1"></div>
		</div>

		<div class="box">
			<div class="c-head">
				怦然心动主题风格 <br>
				<span>PALPITATE WITH EXCITEMENT</span> <br>
				——
			</div>
			<div class="c-box" id="c2"></div>
		</div>
	
		<div class="box">
			<div class="c-head">
				唯爱主题风格 <br>
				<span>ONLY LOVE</span> <br>
				——
			</div>
			<div class="c-box" id="c3"></div>
		</div>

		<div class="box">
			<div class="c-head">
				青岛浪漫之恋主题风格<br>
				<span>ROMANTIC LOVE</span><br>
				——
			</div>
			<div class="c-box" id="c4"></div>
		</div>

		<div class="box">
			<div class="c-head">
				白色恋人主题风格 <br>
				<span>PALPITATE WITH EXCITEMENT</span> <br>
				——
			</div>
			<div class="c-box" id="c5"></div>
		</div>
	
		<div class="box">
			<div class="c-head">
				心语星愿主题风格 <br>
				<span>SIMPLE SPACE</span> <br>
				——
			</div>
			<div class="c-box" id="c6"></div>
		</div>
		<a href="##">立即前往预约</a>
	</section>

	<!-- 脚部 -->
	<section class="footer">
		<div class="nav">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="page1.html">婚纱摄影</a></li>
				<li><a href="page2.html">风格介绍</a></li>
				<li><a href="page3.html">关于我们</a></li>
				<li><a href="page4.html">联系我们</a></li>
			</ul>
			<div>©2016 唯爱婚纱 版权所有</div>
			<div><a href="##">手机版</a> | 本站使用凡科建站搭建 | <a href="##">管理登录</a></div>
		</div>
	</section>

</body>
</html>