<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>唯爱婚纱</title>
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/page3.css">
	<link rel="stylesheet" href="css/footer.css">
</head>
<body>
	
	<!-- 顶部 -->
	<section class="header">
		<img src="imgs/p1.jpg">
		<ul>
			<li><a href="index.html">首页</a></li>
			<li><a href="page1.html">婚纱摄影</a></li>
			<li><a href="page2.html">风格介绍</a></li>
			<li><a href="page3.html">关于我们</a></li>
			<li><a href="page4.html">联系我们</a></li>
		</ul>
	</section>

	<div class="banner"></div>

	<div class="wrap">
		<div class="box">
			<div class="title">我们专注，所以值得信赖</div>
			<div class="t"></div>
			<div class="d">每个女孩都是他的公主.六月,花事正浓,寻寻觅觅,历览林间花红柳绿,穿梭寻常的街道巷尾刹那间,熟悉的路口,一家专为新人提供全方位婚礼策划服务，由80、90后婚礼策划、时尚、广告各界领域精英组成，创立于2008年，是专注于婚礼创意策划、量身定做、礼仪服务专业婚庆。幸福文化，为你我传递幸福，实现每对新人的婚礼梦想，全球领先的一站式婚礼服务专家,中国婚博会指定战略合作伙伴。</div>
			<img src="imgs/p31.jpg" alt="" id="i1">
		</div>

		<div class="box">
			<div class="title">六大保障，拍摄放心</div>
			<div class="t"></div>
			<div class="d">婚纱照请交给我们，您只需美美哒！只为你的美丽一刻为你我传递幸福！</div>

			<div class="s-box">
				<img src="imgs/p32.jpg" alt="">
				<div>先拍后付<br><span>PAY AFTER THE FIRST SHOT</span></div>
			</div>

			<div class="s-box">
				<img src="imgs/p33.jpg" alt="">
				<div>全程一对一服务<br><span>ONE TO ONE SERVICE</span></div>
			</div>

			<div class="s-box">
				<img src="imgs/p34.jpg" alt="">
				<div>绝无任何隐形消费<br><span>THERE IS NO HIDDEN CONSUMER</span></div>
			</div>

			<div class="s-box">
				<img src="imgs/p35.jpg" alt="">
				<div>全店婚纱任选<br><span>OPTIONAL WEDDING DRESS</span></div>
			</div>

			<div class="s-box">
				<img src="imgs/p36.jpg" alt="">
				<div>为你精选适合你的妆容<br><span>AS YOU SELECT FOR YOUR MAKEUP</span></div>
			</div>

			<div class="s-box">
				<img src="imgs/p37.jpg" alt="">
				<div>可免费重拍<br><span>FREE REMAKE</span></div>
			</div>
		</div>
	</div>

	<!-- 脚部 -->
	<section class="footer">
		<div class="nav">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="page1.html">婚纱摄影</a></li>
				<li><a href="page2.html">风格介绍</a></li>
				<li><a href="page3.html">关于我们</a></li>
				<li><a href="page4.html">联系我们</a></li>
			</ul>
			<div>©2016 唯爱婚纱 版权所有</div>
			<div><a href="##">手机版</a> | 本站使用凡科建站搭建 | <a href="##">管理登录</a></div>
		</div>
	</section>

</body>
</html>