<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>唯爱婚纱</title>
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/page1.css">
	<link rel="stylesheet" href="css/footer.css">
</head>
<body>
	
	<!-- 顶部 -->
	<section class="header">
		<img src="imgs/p1.jpg">
		<ul>
			<li><a href="index.html">首页</a></li>
			<li><a href="page1.html">婚纱摄影</a></li>
			<li><a href="page2.html">风格介绍</a></li>
			<li><a href="page3.html">关于我们</a></li>
			<li><a href="page4.html">联系我们</a></li>
		</ul>
	</section>

	<div class="banner"></div>

	<div class="head">
		<div class="title">客照欣赏</div>
		<div class="sub-title">全新体验，专属定制，开启高端婚照享受之旅</div>
	</div>

	<div class="wrap">
		<div class="box">
			<div class="box-i" id="b1"></div>
			<div class="box-d">粉色恋人<br>李先生&赵小姐</div>
		</div>

		<div class="box">
			<div class="box-i" id="b2"></div>
			<div class="box-d">迷美人<br>王小姐</div>
		</div>

		<div class="box">
			<div class="box-i" id="b3"></div>
			<div class="box-d">恋恋花香<br>兰小姐</div>
		</div>

		<div class="box">
			<div class="box-i" id="b4"></div>
			<div class="box-d">最初的时时光<br>张先生&柳小姐</div>
		</div>

		<div class="box">
			<div class="box-i" id="b5"></div>
			<div class="box-d">优雅丽人<br>郑小姐</div>
		</div>

		<div class="box">
			<div class="box-i" id="b6"></div>
			<div class="box-d">秘密花园<br>刘先生&谢小姐</div>
		</div>

		<div class="box">
			<div class="box-i" id="b7"></div>
			<div class="box-d">你是我的童话<br>林先生&叶小姐</div>
		</div>

		<div class="box">
			<div class="box-i" id="b8"></div>
			<div class="box-d">仲夏夜之梦<br>吴先生&夏小姐</div>
		</div>
	</div>

	<!-- 脚部 -->
	<section class="footer">
		<div class="nav">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="page1.html">婚纱摄影</a></li>
				<li><a href="page2.html">风格介绍</a></li>
				<li><a href="page3.html">关于我们</a></li>
				<li><a href="page4.html">联系我们</a></li>
			</ul>
			<div>©2016 唯爱婚纱 版权所有</div>
			<div><a href="##">手机版</a> | 本站使用凡科建站搭建 | <a href="##">管理登录</a></div>
		</div>
	</section>

</body>
</html>