/*------- 脚部 -------*/
.footer { margin-top: 0px; width: 100%; height: 166px; background: #1e1e1e; padding-bottom: 10px; }
.nav { width: 600px; height: 50px; position: relative; top: 50px; margin: 0 auto; border-bottom: solid 1px #333; }
.nav ul { list-style: none; }
.nav ul li { float: left; }
.nav ul li a { display: inline-block; width: 110px; height: 66px; text-align: center; font-size: 15px; color: #55706a; }
.nav a:hover { color: #e00a34; }
.nav div { font-size: 15px; clear: both; color: #55706a; text-align: center; }
.nav div a { color: #55706a; }
