.header ul li:first-child { margin-left: 175px; }
.header ul li:nth-child(4) { color: #fff; background: #f5005e; }
.header ul li:nth-child(4) a { color: #fff; }

/*----------- banner -------*/
.banner { width: 100%; height: 506px; background: url(../imgs/p30.jpg) no-repeat; margin-bottom: 80px; }

/*--------content ---------  */
.wrap { width: 1200px; height: 100%; margin: 0 auto; text-align: center; }
.box { width: 1200px; margin: 0 auto; text-align: center; }
.title { font-size: 26px; }
.t { margin: 20px auto; width: 40px; height: 0; border-bottom: solid 2px rgb(245, 0, 93); }
.d { font-size: 14px; line-height: 30px; color: #666; }
#i1 { margin: 40px auto; }
.s-box { width: 30%; text-align: center; margin: 50px 0; color: #333; display: inline-block; }
.s-box div { font-size: 18px; }
.s-box div span { font-size: 14px; }
