.header ul li:first-child { margin-left: 175px; }
.header ul li:nth-child(2) { color: #fff; background: #f5005e; }
.header ul li:nth-child(2) a { color: #fff; }

/*----------- banner -------*/
.banner { width: 100%; height: 506px; background: url(../imgs/p17.jpg) no-repeat; margin-bottom: 80px; }

/*-------- wrap -------*/
.wrap { width: 1772; text-align: center; }
.box { display: inline-block; margin: 30px auto; }
.box-i { width: 530px; height: 339px; margin: 0px 20px 20px 20px; }
#b1 { background: url(../imgs/p18.jpg); background-position: 0% 0%; transition: all 0.3s linear; }
#b2 { background: url(../imgs/p19.jpg); background-position: 0% 0%; transition: all 0.3s linear; }
#b3 { background: url(../imgs/p20.jpg); background-position: 0% 0%; transition: all 0.3s linear; }
#b4 { background: url(../imgs/p21.jpg); background-position: 0% 0%; transition: all 0.3s linear; }
#b5 { background: url(../imgs/p22.jpg); background-position: 0% 0%; transition: all 0.3s linear; }
#b6 { background: url(../imgs/p23.jpg); background-position: 0% 0%; transition: all 0.3s linear; }
#b7 { background: url(../imgs/p24.jpg); background-position: 0% 0%; transition: all 0.3s linear; }
#b8 { background: url(../imgs/p25.jpg); background-position: 0% 0%; transition: all 0.3s linear; }
#b1:hover { background-position: 100% 0%; }
#b2:hover { background-position: 100% 0%; }
#b3:hover { background-position: 100% 0%; }
#b4:hover { background-position: 100% 0%; }
#b5:hover { background-position: 100% 0%; }
#b6:hover { background-position: 100% 0%; }
#b7:hover { background-position: 100% 0%; }
#b8:hover { background-position: 100% 0%; }
