extends layout

block content
  h1 Your tasks
  - if (docs.length)
      table
        tr
          th Task
            each task in docs
              tr 
                td #{task.task}
                td 
                  a.btn(href="/tasks/#{task.id}/edit") Edit
                td
                  a.btn(href="/tasks/#{task.id}/del") Delete

  - else
    p You don't have any tasks!
  p
    a(href='/tasks/new', class='btn primary') Add a Task
  
  - if(typeof flash != 'undefined')
    include ../mixins/flash-messages
    mixin flash-messages(flash)
