<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>header</title>
	<link rel="stylesheet" href="css/header.css">
</head>
<body>
	<header>
		<nav id="top">
			<div class="wrap">
				<a href="http://www.hi8000.cn" target="_blank">镂鼎科技</a></nav>
			</div>
		<nav id="nav">
			<div class="wrap">
				<div id="logo">
					<a href="#"><img src="images/logo.png" alt="logo"></a>
				</div>
				<div id="list">
					<ul>
						<li><a href="#">首页</a></li>
						<li><a href="#">大数据</a></li>
						<li><a href="#">电梯物联网</a></li>
						<li><a href="#">移动终端</a></li>
						<li><a href="#">解决方案</a></li>
						<li><a href="#">新闻动态</a></li>
						<li><a href="#">关于我们</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>