<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>header</title>
	<link rel="stylesheet" href="css/header.css">
</head>
<body>
	<header>
		<nav id="top">
			<div class="wrap">
				<a href="http://www.hi8000.cn" target="_blank">镂鼎科技</a></nav>
			</div>
		<nav id="nav">
			<div class="wrap">
				<div id="logo">
					<a href="#"><img src="images/logo.png" alt="logo"></a>
				</div>
				<div id="list">
					<ul>
						<li><a href="#">首页</a></li>
						<li><a href="#">大数据</a></li>
						<li><a href="#">电梯物联网</a></li>
						<li id="a10">
							<a href="#">移动终端</a>
							<dl id="a11">
		                        <dt><a href="#">电梯安全公共服务平台APP</a></dt>
		                        <dt><a href="#">使用单位APP</a></dt>
		                        <dt><a href="#">维保单位APP</a></dt>
		                        <dt><a href="#">质监局APP</a></dt>
		                        <dt><a href="#">特检院APP</a></dt>
		                    </dl>
						</li>
						<li id="a20">
							<a href="#">解决方案</a>
							<dl id="a21">
		                        <dt><a href="#">电梯应急救援解决方案</a></dt>
		                        <dt><a href="#">沙盘决策支持解决方案</a></dt>
		                        <dt><a href="#">电梯运维管理解决方案</a></dt>
		                        <dt><a href="#">隐患排查治理解决方案</a></dt>
		                        <dt><a href="#">电梯动态监测解决方案</a></dt>
		                    </dl>
						</li>
						<li><a href="#">新闻动态</a></li>
						<li id="a30">
							<a href="#">关于我们</a>
							<dl id="a31">
		                        <dt><a href="#">公司简介</a></dt>
		                        <dt><a href="#">企业文化</a></dt>
		                        <dt><a href="#">组织架构</a></dt>
		                        <dt><a href="#">团队建设</a></dt>
		                        <dt><a href="#">联系我们</a></dt>
		                    </dl>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>