<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>山西中质信联信息科技有限公司</title>
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>

	<iframe src="header.html" frameborder="0" scrolling="no" id="header"></iframe>
	
	<div id="banner"></div>

	<section id="about">
		<div id="about-wrap">
			<div id="about-title">关于我们 About Us</div>
			<div id="about-sub-title">专注客户需求&nbsp;&nbsp;&nbsp;追求最优服务<br />Focus on customer needs Pursue the best quality service</div>
			<div id="about-content">
				山西中质信联信息科技有限公司（简称中质信联），是由国家质检总局信息中心与太原市高新区管委会共同发起组建的国有资金控股公司（国有资金占股60%），承担着国家电梯物联网专项——全国电梯物联网安全监控服务平台的建设、运行和维护工作。公司以服务民生为根本出发点，借助物联网、云计算、大数据等新兴技术，重点开展电梯应急救援处置、运行状态实时监测、日常维护保养、电梯检验管理、安全隐患排查等服务，有效整合全国电梯设备数据，并通过大数据分析形成智能化的电梯综合监管体系。
			</div>
			<div id="about-map">
				<dl>
					<dt id="yuan01">
						<div class="left"></div>
						<div class="right"></div>
					</dt>
					<dd>组织机构</dd>
				</dl>
				<dl>
					<dt id="yuan02">
						<div class="left"></div>
						<div class="right"></div>
					</dt>
					<dd>企业文化</dd>
				</dl>
				<dl>
					<dt id="yuan03">
						<div class="left"></div>
						<div class="right"></div>
					</dt>
					<dd>加入我们</dd>
				</dl>
			</div>
		</div>
	</section>

	<div id="banner2"></div>

	<section id="product">
		<div id="product-wrap">
			<div id="product-title">软件开发</div>
			<div id="product-sub-title">Software Development</div>
			<div id="product-content">
				<dl>
					<a href="#" target="_blank">
						<dt><img src="images/7.png" alt="7"></dt>
						<dd>
							<span>大数据</span>
							<b>中质信联以电梯安全监管为切入点，以电梯云大数据为支撑，为各单位、社会大众提供大数据服务，实现数据共享。</b>
						</dd>
					</a>
				</dl>
				<dl>
					<a href="#" target="_blank">
						<dt><img src="images/9.png" alt="7"></dt>
						<dd>
							<span>移动终端</span>
							<b>监管人员开展现场工作,使用手机APP实现互联互通;当电梯发生突发事件,电梯监管人员通过手机APP现场指挥，高效开展工作。</b>
						</dd>
					</a>
				</dl>
				<dl>
					<a href="#" target="_blank">
						<dt><img src="images/8.png" alt="7"></dt>
						<dd>
							<span>电梯物联网</span>
							<b>物联网是新一代信息技术的高度集成和综合运用，中质信联将大数据与物联网技术结合，确保电梯公共服务的及时性、安全性。</b>
						</dd>
					</a>
				</dl>
			</div>
		</div>
	</section>

	<section id="business">
		<div id="business-wrap">
			<div id="business-title">解决方案</div>
			<div id="business-sub-title">The Solution</div>
			<dl>
				<dt><img src="images/zhy4.png" alt="zhy"></dt>
				<dd>
					<a href="#" target="_blank">
						<p class="bs-wp-tit">沙盘决策支持解决方案</p>
						<p class="bs-wp-sub-tit">随着数字化技术的发展，沙盘的表现形式、功能也不断地变化。中质信联沙盘系统结合投影技术，融艺术性、演示性、知识性为一体，展示内容丰富，全面直观。</p>
					</a>
				</dd>
			</dl>
			<dl>
				<dt><img src="images/zhy1.png" alt="zhy"></dt>
				<dd>
					<a href="#" target="_blank">
						<p class="bs-wp-tit">电梯应急救援解决方案</p>
						<p class="bs-wp-sub-tit">中质信联利用云计算、大数据、物联网、移动通信等技术建立的电梯应急处置服务平台，由统一的电梯信息化管理体系和科学的三级立体救援体系构成。</p>
					</a>
				</dd>
			</dl>
			<dl>
				<dt><img src="images/zhy2.png" alt="zhy"></dt>
				<dd>
					<a href="#" target="_blank">
						<p class="bs-wp-tit">电梯运维管理解决方案</p>
						<p class="bs-wp-sub-tit">据调查数据显示，当前各类电梯事故中有90%是由于维修保养不善、管理不到位造成的，采用技术手段实现电梯维保信息化管理，建立阳光运维体系已成行业工作重点。</p>
					</a>
				</dd>
			</dl>
			<dl>
				<dt><img src="images/zhy3.png" alt="zhy"></dt>
				<dd>
					<a href="#" target="_blank">
						<p class="bs-wp-tit">隐患排查治理解决方案</p>
						<p class="bs-wp-sub-tit"> 集物业、维保、特检院、质监局、社会大众等各方力量共同监督电梯安全使用，有效强化电梯安全隐患排查治理全过程的监管。</p>
					</a>
				</dd>
			</dl>
		</div>
	</section>

	<section id="news">
		<div id="news-wrap">
			<div id="news-title">新闻动态News</div>
			<div id="news-left"></div>
			<div id="news-right">
				<ul>
                    <li><a href="#" target="_blank">保险公司介入电梯维保 出事每人最高赔百万</a></li>
                    <li><a href="#" target="_blank">徐州第一高楼电梯领证，速度5米/秒！</a></li>
                    <li><a href="#" target="_blank">电梯频“罢工”出现故障三大原因</a></li>
                    <li><a href="#" target="_blank">石景山老小区升级改造  刷脸进楼栋 扫码坐电梯</a></li>
                    <li><a href="#" target="_blank">临沂电梯安全应急处置平台6月投用</a></li>
                    <li><a href="#" target="_blank">北京市2020年将实现老楼增设电梯累计100…</a></li>
                    <li><a href="#" target="_blank">湖北设立12家县级电梯检验所</a></li>
                    <li><a href="#" target="_blank">锡林郭勒盟电梯安全运行监控中心持续高效运行</a></li>
                    <li><a href="#" target="_blank">深圳市电梯质量安全条例被优先安排立法</a></li>
                    <li><a href="#" target="_blank">2017年电梯采购大事件盘点</a></li>
                </ul>
            </div>
		</div>
	</section>

	<iframe src="footer.html" frameborder="0"  scrolling="no" id="footer"></iframe>
</body>
</html>


