<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>山西中质信联信息科技有限公司</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>

	<iframe src="header.html" frameborder="0" scrolling="no" id="header"></iframe>
	
	<div id="banner"></div>

	<section id="about">
		<div id="about-wrap">
			<div id="about-title">关于我们 About Us</div>
			<div id="about-sub-title">专注客户需求&nbsp;&nbsp;&nbsp;追求最优服务<br />Focus on customer needs Pursue the best quality service</div>
			<div id="about-content">
				山西中质信联信息科技有限公司（简称中质信联），是由国家质检总局信息中心与太原市高新区管委会共同发起组建的国有资金控股公司（国有资金占股60%），承担着国家电梯物联网专项——全国电梯物联网安全监控服务平台的建设、运行和维护工作。公司以服务民生为根本出发点，借助物联网、云计算、大数据等新兴技术，重点开展电梯应急救援处置、运行状态实时监测、日常维护保养、电梯检验管理、安全隐患排查等服务，有效整合全国电梯设备数据，并通过大数据分析形成智能化的电梯综合监管体系。
			</div>
			<div id="about-map">
				<dl>
					<dt id="yuan01">
						<div class="left"></div>
						<div class="right"></div>
					</dt>
					<dd>组织机构</dd>
				</dl>
				<dl>
					<dt id="yuan02">
						<div class="left"></div>
						<div class="right"></div>
					</dt>
					<dd>企业文化</dd>
				</dl>
				<dl>
					<dt id="yuan03">
						<div class="left"></div>
						<div class="right"></div>
					</dt>
					<dd>加入我们</dd>
				</dl>
			</div>
		</div>
	</section>

	<div id="banner2"></div>

	<section id="product">
		<div id="product-wrap">
			<div id="product-title">软件开发</div>
			<div id="product-sub-title">Software Development</div>
			<div id="product-content">
				<dl>
					<a href="#" target="_blank">
						<dt><img src="images/7.png" alt="7"></dt>
						<dd>
							<span>大数据</span>
							<b>中质信联以电梯安全监管为切入点，以电梯云大数据为支撑，为各单位、社会大众提供大数据服务，实现数据共享。</b>
						</dd>
					</a>
				</dl>
				<dl>
					<a href="#" target="_blank">
						<dt><img src="images/9.png" alt="7"></dt>
						<dd>
							<span>移动终端</span>
							<b>监管人员开展现场工作,使用手机APP实现互联互通;当电梯发生突发事件,电梯监管人员通过手机APP现场指挥，高效开展工作。</b>
						</dd>
					</a>
				</dl>
				<dl>
					<a href="#" target="_blank">
						<dt><img src="images/8.png" alt="7"></dt>
						<dd>
							<span>电梯物联网</span>
							<b>物联网是新一代信息技术的高度集成和综合运用，中质信联将大数据与物联网技术结合，确保电梯公共服务的及时性、安全性。</b>
						</dd>
					</a>
				</dl>
			</div>
		</div>
	</section>

	<iframe src="footer.html" frameborder="0"></iframe>
</body>
</html>


