<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>电梯物联网-山西中质信联信息科技有限公司</title>
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/page2.css">
	<link rel="stylesheet" href="css/footer.css">
</head>
<body>

	<!-- 头部 -->
	<header>
		<div id="top">
			<div class="wrap">
				<a href="http://www.hi8000.cn" target="_blank">镂鼎科技</a>
			</div>
		</div>
		<nav id="nav">
			<div class="wrap">
				<div id="logo">
					<a href="#"><img src="images/logo.png" alt="logo"></a>
				</div>
				<div id="list">
					<ul>
						<li><a href="index.html">首页</a></li>
						<li><a href="page1.html">大数据</a></li>
						<li><a href="page2.html">电梯物联网</a></li>
						<li id="a10">
							<a href="page3.html">移动终端</a>
							<dl id="a11">
		                        <dt><a href="page3.html#app1">电梯安全公共服务平台APP</a></dt>
		                        <dt><a href="page3.html#app2">使用单位APP</a></dt>
		                        <dt><a href="page3.html#app3">维保单位APP</a></dt>
		                        <dt><a href="page3.html#app4">质监局APP</a></dt>
		                        <dt><a href="page3.html#app5">特检院APP</a></dt>
		                    </dl>
						</li>
						<li id="a20">
							<a href="page4.html">解决方案</a>
							<dl id="a21">
		                        <dt><a href="page4.html#app1">电梯应急救援解决方案</a></dt>
		                        <dt><a href="page4.html#app2">沙盘决策支持解决方案</a></dt>
		                        <dt><a href="page4.html#app3">电梯运维管理解决方案</a></dt>
		                        <dt><a href="page4.html#app4">隐患排查治理解决方案</a></dt>
		                        <dt><a href="page4.html#app5">电梯动态监测解决方案</a></dt>
		                    </dl>
						</li>
						<li><a href="page5.html">新闻动态</a></li>
						<li id="a30">
							<a href="page6.html">关于我们</a>
							<dl id="a31">
		                        <dt><a href="page6.html#app1">公司简介</a></dt>
		                        <dt><a href="page6.html#app2">企业文化</a></dt>
		                        <dt><a href="page6.html#app3">组织架构</a></dt>
		                        <dt><a href="page6.html#app4">团队建设</a></dt>
		                        <dt><a href="page6.html#app5">联系我们</a></dt>
		                    </dl>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!-- banner -->
	<section class="banner"></section>

	<section class="content">
		<div class="content-wrap">
			<div class="content-head">
				<div class="content-title">电梯物联网</div>
				<div class="content-sub-title">Elevator Internet</div>
			</div>
			<div class="content-left"></div>
			<div class="content-right">
				<div class="content-nav">
					<a href="index.html">首页</a> &gt; 电梯物联网
				</div>
				<h2>电梯物联网</h2>
				<div class="content-data">
					<p>近年，电梯安全事故频发，电梯的有效监管问题越来越受到国家和社会的关注。</p>
			       <p>2015年11月26日，国家质监总局信息中心与山西省太原市高新技术产业开发区签订了战略框架协议，“全国电梯物联网安全监控服务项目”落地山西省太原市高新区。</p>
			       <p> 2016年7月，国家质量监督检验检疫总局明确提出“建立一个国家级电梯应急处置数据汇集与分析处理平台，并建设部署五十个较大城市电梯应急处置示范应用”的设计和布局。</p>
			       <p> 山西中质信联将大数据与物联网技术结合，通过云计算的数据统计分析，加强了各方资源在救援、维保过程中的联动化、高效化，确保了电梯公共服务的及时性、安全性。</p>
			       <img src="images/dtwlw2.jpg" alt="dtwlw2">
				</div>
			</div>
		</div>
	</section>

	<!-- 脚部 -->
	<footer>
		<div id="footer">
			<div id="footer-wrap">
				<ul>
		            <li>移动终端</li>
		            <li><a href="page3.html#app1">电梯安全公共服务平台APP</a></li>
		            <li><a href="page3.html#app2">使用单位APP</a></li>
		            <li><a href="page3.html#app3">维保单位APP</a></li>
		            <li><a href="page3.html#app4">质监局APP</a></li>
		            <li><a href="page3.html#app5">特检院APP</a></li>
		        </ul>
		        <ul>
		            <li>解决方案</li>
		            <li><a href="page4.html#app1">电梯应急救援解决方案</a></li>
		            <li><a href="page4.html#app2">沙盘决策支持解决方案</a></li>
		            <li><a href="page4.html#app3">电梯运维管理解决方案</a></li>
		            <li><a href="page4.html#app4">隐患排查治理解决方案</a></li>
		            <li><a href="page4.html#app5">电梯动态监测解决方案</a></li>
		        </ul>
		        <ul>
		            <li>关于我们</li>
		            <li><a href="page6.html#app1">公司简介</a></li>
		            <li><a href="page6.html#app2">企业文化</a></li>
		            <li><a href="page6.html#app3">组织架构</a></li>
		            <li><a href="page6.html#app4">团队建设</a></li>
		            <li><a href="page6.html#app5">联系我们</a></li>
		        </ul>
			</div>
			<div id="footer-tell">
	            山西中质信联信息科技有限公司<br>
	            地址&nbsp;&nbsp;:&nbsp;&nbsp;山西省太原市高新街17号环能科技1-3层<br>
	            服务热线&nbsp;&nbsp;:&nbsp;&nbsp;<span>0351-6330000</span>
			</div>
		</div>
		<div id="bottom">Copyright © 2015 中质信联 地址：太原市高新街环能科技 晋ICP备11005736号-2</div>
	</footer>

	<aside id="back-top">
		<a href="#top"><img src="images/top.png" alt="top"></a>
		<div>TOP</div>
	</aside>

</body>
</html>