<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>解决方案-山西中质信联信息科技有限公司</title>
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/page4.css">
	<link rel="stylesheet" href="css/footer.css">
</head>
<body>

	<!-- 头部 -->
	<header>
		<div id="top">
			<div class="wrap">
				<a href="http://www.hi8000.cn" target="_blank">镂鼎科技</a>
			</div>
		</div>
		<nav id="nav">
			<div class="wrap">
				<div id="logo">
					<a href="#"><img src="images/logo.png" alt="logo"></a>
				</div>
				<div id="list">
					<ul>
						<li><a href="index.html">首页</a></li>
						<li><a href="page1.html">大数据</a></li>
						<li><a href="page2.html">电梯物联网</a></li>
						<li id="a10">
							<a href="page3.html">移动终端</a>
							<dl id="a11">
		                        <dt><a href="page3.html#app1">电梯安全公共服务平台APP</a></dt>
		                        <dt><a href="page3.html#app2">使用单位APP</a></dt>
		                        <dt><a href="page3.html#app3">维保单位APP</a></dt>
		                        <dt><a href="page3.html#app4">质监局APP</a></dt>
		                        <dt><a href="page3.html#app5">特检院APP</a></dt>
		                    </dl>
						</li>
						<li id="a20">
							<a href="page4.html">解决方案</a>
							<dl id="a21">
		                        <dt><a href="page4.html#app1">电梯应急救援解决方案</a></dt>
		                        <dt><a href="page4.html#app2">沙盘决策支持解决方案</a></dt>
		                        <dt><a href="page4.html#app3">电梯运维管理解决方案</a></dt>
		                        <dt><a href="page4.html#app4">隐患排查治理解决方案</a></dt>
		                        <dt><a href="page4.html#app5">电梯动态监测解决方案</a></dt>
		                    </dl>
						</li>
						<li><a href="page5.html">新闻动态</a></li>
						<li id="a30">
							<a href="page6.html">关于我们</a>
							<dl id="a31">
		                        <dt><a href="page6.html#app1">公司简介</a></dt>
		                        <dt><a href="page6.html#app2">企业文化</a></dt>
		                        <dt><a href="page6.html#app3">组织架构</a></dt>
		                        <dt><a href="page6.html#app4">团队建设</a></dt>
		                        <dt><a href="page6.html#app5">联系我们</a></dt>
		                    </dl>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!-- banner -->
	<section class="banner"></section>

	<section class="content">
		<div class="content-wrap">
			<div class="content-head">
				<div class="content-title">解决方案</div>
				<div class="content-sub-title">Solution</div>
			</div>
			<div class="content-left">
				<ul>
					<li><a href="#app1">电梯应急救援解决方案</a></li>
					<li><a href="#app2">沙盘决策支持解决方案</a></li>
					<li><a href="#app3">电梯运维管理解决方案</a></li>
					<li><a href="#app4">隐患排查治理解决方案</a></li>
					<li><a href="#app5">电梯动态监测解决方案</a></li>
				</ul>
			</div>
			<div class="content-right">
				<div class="content-nav">
					<a href="index.html">首页</a> &gt; 解决方案
				</div>

				<h2 id="app1">电梯应急救援解决方案</h2>
				<div class="content-data">
					<p>中质信联是利用云计算、大数据、物联网、移动通信等技术建立的电梯应急处置服务平台，由统一的电梯信息化管理体系和科学的三级立体救援体系构成。当电梯紧急事故发生时，应急处置平台能够结合电子地图对电梯、救援维保点实施快速定位，并对现场进行实时的视频对话安抚，合理调用应急救援人员，达到对电梯困人事故的快速反应，并实现电梯应急救援数据的集中管理和分析。</p>
			        <img src="images/dt1.jpg" alt="dtwlw2">
				</div>

				<h2 id="app2">沙盘决策支持解决方案</h2>
				<div class="content-data">
					<p>随着数字化技术的发展，沙盘的表现形式、功能也不断地变化。</p>
					<p>中质信联沙盘系统结合投影技术，融艺术性、演示性、知识性为一体，生动形象。使用者可通过点击该系统触摸屏上的相应选项，俯瞰所辖电梯全局，同时与沙盘进行互动，全方位、多角度、立体了解事物全貌及运行规律。</p>
					<p>质监局：通过系统地图，工作人员可以任意选择浏览、查询所辖区物业、维保单位电梯管理的各种数据信息，加强监管；</p>
					<p>特检院：对服务范围内电梯的安全检验信息进行管理，跟踪检验时间、检验结果。</p>
					<p>生产企业：可以利用系统随时查看该企业生产电梯的分布、使用情况，跟踪电梯故障、维修时间及次数，提高电梯质量。</p>
					<p>数据统计：将各类信息用报表、图表、统计图等方式展示，严密分析并得出结果，为领导决策提供技术支持。</p>
			        <img src="images/dt2.jpg" alt="dtwlw2">
				</div>

				<h2 id="app3">电梯运维管理解决方案</h2>
				<div class="content-data">
					<p>电梯维保是保证电梯使用安全的重要环节，它贯穿于电梯使用的全过程，并直接关系到电梯的使用寿命。据调查数据显示，在各类电梯事故中有90%是由于维修保养不善、管理不到位造成的。当前，我国有电梯制造厂家和配件厂近300家，从事电梯安装、改造、维修保养的单位有几千家，从业人员几十万。为了在有限的市场中分得一杯羹，各维修保养单位尽显其能、抢夺资源，造成了维保市场混乱、维保质量低劣，直接影响了电梯的安全运行。规范电梯维保市场、确保有序竞争已经是必须解决的一个难题。</p>
	   				<p>中质信联研发的电梯运维管理系统采用了多种先进的技术手段、智能设备及数据处理技术，帮助物业单位、维保单位及政府部门实现电梯维保信息化管理，实施有效监督，建立阳光运维体系，切实保证维保质量。</p>
				</div>

				<h2 id="app4">隐患排查治理解决方案</h2>
				<div class="content-data">
					<p>为防止和减少电梯事故，强化各单位主体责任，保障大众乘梯安全，中质信联开发了严密的隐患排查治理系统。</p>
	       			<p>物业、维保、特检院、质监局、社会大众等各方力量共同发现、监督电梯安全隐患，并通过系统及时上报、处置，详细记录每次事故隐患排查数据，形成信息闭环管理，有力地强化了电梯安全隐患排查治理全过程的监管。</p>
	      			<p>物业、维保单位：发现电梯安全隐患后，可使用该系统记录电梯安全隐患发现、整改、验收等环节数据，实现电梯隐患自查自报；</p>
	      			<p>质监局：针对上报的电梯安全隐患信息，可及时处置，便于监督管理；</p>
	      			<p>社会大众：在日常乘坐电梯时，可以对电梯出现的隐患问题进行投诉和报警。</p>
			        <img src="images/dt4.jpg" alt="dtwlw2">
				</div>

				<h2 id="app5">电梯动态监测解决方案</h2>
				<div class="content-data">
	  				<p>近年来，电梯作为一种普遍的、关乎大众生命安全的特种设备，随着市场保有量的激增，其安全运行越来越受到社会的关注。然而，现有检验人员却远远无法满足电梯故障处理、维保的需求，安全部件失灵、电梯漏检、疏于维护等现象时有发生，再加上现有监管体制不健全、维护工作不到位，单位救援和维修记录内容不统一，不规范，不利于统一管理、综合分析解决问题，加强各单位对电梯信息的整合和监管，通过技术手段，利用信息化系统来提高电梯安全监测已是必然趋势。</p>
      				<p>中质信联电梯动态监测系统是一款用于实时监控电梯运行状态的系统。可用于小区、学校、医院、商厦、政府机关、各类企业物业、维保的集中监控，动态检测仪与电梯绑定，实时记录电梯运行数据，便于分析决策，加强电梯安全监管。</p>
      				<p>实时监控</p>
      				<p>系统可以采集电梯日常运行速度、时间等正常信息储存至大数据，方便日后调取查找并解决问题。</p>
      				<p>异常反馈</p>
      				<p>如发现异常信息自动推送给维保人员或呼叫中心，确认现场情况并进行维修；将异常信息记录至大数据，做到电梯事故的有效预防。</p>
      				<p>自动预警</p>
      				<p>当电梯在运行过程中出现急停、困人、冲顶、蹲底等故障的时候，系统会自动预警，报告给应急处置中心，快速地展开救援和检修；电梯故障信息储存，以备日后统计查验。</p>
      				<p>断电保护</p>
      				<p>停电后，系统不少于2小时的UPS能力，可为电梯运行监控提供断电保护，保证电梯运行数据的完整性。</p>
			        <img src="images/dt5.jpg" alt="dtwlw2">
				</div>

			</div>
		</div>
	</section>

	<!-- 脚部 -->
	<footer>
		<div id="footer">
			<div id="footer-wrap">
				<ul>
		            <li>移动终端</li>
		            <li><a href="page3.html#app1">电梯安全公共服务平台APP</a></li>
		            <li><a href="page3.html#app2">使用单位APP</a></li>
		            <li><a href="page3.html#app3">维保单位APP</a></li>
		            <li><a href="page3.html#app4">质监局APP</a></li>
		            <li><a href="page3.html#app5">特检院APP</a></li>
		        </ul>
		        <ul>
		            <li>解决方案</li>
		            <li><a href="page4.html#app1">电梯应急救援解决方案</a></li>
		            <li><a href="page4.html#app2">沙盘决策支持解决方案</a></li>
		            <li><a href="page4.html#app3">电梯运维管理解决方案</a></li>
		            <li><a href="page4.html#app4">隐患排查治理解决方案</a></li>
		            <li><a href="page4.html#app5">电梯动态监测解决方案</a></li>
		        </ul>
		        <ul>
		            <li>关于我们</li>
		            <li><a href="page6.html#app1">公司简介</a></li>
		            <li><a href="page6.html#app2">企业文化</a></li>
		            <li><a href="page6.html#app3">组织架构</a></li>
		            <li><a href="page6.html#app4">团队建设</a></li>
		            <li><a href="page6.html#app5">联系我们</a></li>
		        </ul>
			</div>
			<div id="footer-tell">
	            山西中质信联信息科技有限公司<br>
	            地址&nbsp;&nbsp;:&nbsp;&nbsp;山西省太原市高新街17号环能科技1-3层<br>
	            服务热线&nbsp;&nbsp;:&nbsp;&nbsp;<span>0351-6330000</span>
			</div>
		</div>
		<div id="bottom">Copyright © 2015 中质信联 地址：太原市高新街环能科技 晋ICP备11005736号-2</div>
	</footer>

	<aside id="back-top">
		<a href="#top"><img src="images/top.png" alt="top"></a>
		<div>TOP</div>
	</aside>

</body>
</html>