<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于我们-山西中质信联信息科技有限公司</title>
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/page6.css">
	<link rel="stylesheet" href="css/footer.css">

</head>
<body>

	<!-- 头部 -->
	<header>
		<div id="top">
			<div class="wrap">
				<a href="http://www.hi8000.cn" target="_blank">镂鼎科技</a>
			</div>
		</div>
		<nav id="nav">
			<div class="wrap">
				<div id="logo">
					<a href="#"><img src="images/logo.png" alt="logo"></a>
				</div>
				<div id="list">
					<ul>
						<li><a href="index.html">首页</a></li>
						<li><a href="page1.html">大数据</a></li>
						<li><a href="page2.html">电梯物联网</a></li>
						<li id="a10">
							<a href="page3.html">移动终端</a>
							<dl id="a11">
		                        <dt><a href="page3.html#app1">电梯安全公共服务平台APP</a></dt>
		                        <dt><a href="page3.html#app2">使用单位APP</a></dt>
		                        <dt><a href="page3.html#app3">维保单位APP</a></dt>
		                        <dt><a href="page3.html#app4">质监局APP</a></dt>
		                        <dt><a href="page3.html#app5">特检院APP</a></dt>
		                    </dl>
						</li>
						<li id="a20">
							<a href="page4.html">解决方案</a>
							<dl id="a21">
		                        <dt><a href="page4.html#app1">电梯应急救援解决方案</a></dt>
		                        <dt><a href="page4.html#app2">沙盘决策支持解决方案</a></dt>
		                        <dt><a href="page4.html#app3">电梯运维管理解决方案</a></dt>
		                        <dt><a href="page4.html#app4">隐患排查治理解决方案</a></dt>
		                        <dt><a href="page4.html#app5">电梯动态监测解决方案</a></dt>
		                    </dl>
						</li>
						<li><a href="page5.html">新闻动态</a></li>
						<li id="a30">
							<a href="page6.html">关于我们</a>
							<dl id="a31">
		                        <dt><a href="page6.html#app1">公司简介</a></dt>
		                        <dt><a href="page6.html#app2">企业文化</a></dt>
		                        <dt><a href="page6.html#app3">组织架构</a></dt>
		                        <dt><a href="page6.html#app4">团队建设</a></dt>
		                        <dt><a href="page6.html#app5">联系我们</a></dt>
		                    </dl>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!-- banner -->
	<section class="banner"></section>

	<section class="content">
		<div class="content-wrap">
			<div class="content-head">
				<div class="content-title">关于我们</div>
				<div class="content-sub-title">About Us</div>
			</div>
			<div class="content-left">
				<ul>
					<li><a href="#app1">公司简介</a></li>
					<li><a href="#app2">企业文化</a></li>
					<li><a href="#app3">组织架构</a></li>
					<li><a href="#app4">团队建设</a></li>
					<li><a href="#app5">联系我们</a></li>
				</ul>
			</div>
			<div class="content-right">
				<div class="content-nav">
					<a href="index.html">首页</a> &gt; 解决方案
				</div>

				<h2 id="app1">公司简介</h2>
				<div class="content-data">
					<p>山西中质信联信息科技有限公司（简称中质信联）成立于2016年7月，是由国家质检总局信息中心与太原市高新区管委会共同发起组建的国有资金控股公司（国有资金占股60%），承担着国家电梯物联网专项——全国电梯物联网安全监控服务平台的建设、运行和维护工作。</p>
       				<p>公司以服务民生为根本出发点，借助物联网、云计算、大数据挖掘分析等新兴技术，重点开展电梯应急救援处置、运行状态实时监测、日常维护保养、电梯检验管理、安全隐患排查等应用服务，构建面向全国的电梯安全监控云平台，实现全国电梯设备安全数据有效整合，并通过大数据分析电梯监管信息，形成智能化的综合监管体系。</p>
       				<p>公司始终坚持“创新带动发展”的战略核心、秉承“专注数据、创新服务、创造价值”的经营理念， 一方面不断追求技术创新，力求将最新的前沿技术与电梯设备监管业务完美融合，革新电梯监管技术，确保电梯安全，服务民生；一方面发挥国家项目落地山西的示范效应，深挖电梯物联网产业链，积极推动山西电子产品制造、信息服务、互联网金融、保险、广告传媒等产业发展，不断为山西省经济转型升级提供空间和动力，为成为中国电梯信息化和物联网行业标准的制定者而不懈努力。</p>
				</div>

				<h2 id="app2">企业文化</h2>
				<div class="content-data">
					<p>核心理念：专注数据、创新服务、创造价值。</p>
					<p>企业使命：打造电梯物联网优质产品和服务，保障社会大众乘梯安全。</p>
					<p>发展愿景：成为中国电梯信息化和物联网行业标准的制定者。</p>
					<p>核心价值观：诚信、务实、创新、 共赢。</p>
				</div>

				<h2 id="app3">组织架构</h2>
				<div class="content-data">
			        <img src="images/zz3.jpg" alt="dtwlw2">
				</div>

				<h2 id="app4">团队建设</h2>
				<div class="content-data">
			        <img src="images/zz4.jpg" alt="dtwlw2" width="40%" height="40%">
			        <p>公司职场礼仪培训课（共2张）</p>
					<p>2017-06-20</p>
				</div>

				<h2 id="app5">联系我们</h2>
				<div class="content-data">
	  			  <p>公司名称：山西中质信联信息科技有限公司</p>
				  <p>公司地址：山西省太原市高新区高新街17号环能科技大厦1-3层</p>
				  <p>联系电话：0351-6330000</p>
				  <p>企业邮箱：sxzzxl@163.com</p>
				</div>

			</div>
		</div>
	</section>

	<!-- 脚部 -->
	<footer>
		<div id="footer">
			<div id="footer-wrap">
				<ul>
		            <li>移动终端</li>
		            <li><a href="page3.html#app1">电梯安全公共服务平台APP</a></li>
		            <li><a href="page3.html#app2">使用单位APP</a></li>
		            <li><a href="page3.html#app3">维保单位APP</a></li>
		            <li><a href="page3.html#app4">质监局APP</a></li>
		            <li><a href="page3.html#app5">特检院APP</a></li>
		        </ul>
		        <ul>
		            <li>解决方案</li>
		            <li><a href="page4.html#app1">电梯应急救援解决方案</a></li>
		            <li><a href="page4.html#app2">沙盘决策支持解决方案</a></li>
		            <li><a href="page4.html#app3">电梯运维管理解决方案</a></li>
		            <li><a href="page4.html#app4">隐患排查治理解决方案</a></li>
		            <li><a href="page4.html#app5">电梯动态监测解决方案</a></li>
		        </ul>
		        <ul>
		            <li>关于我们</li>
		            <li><a href="page6.html#app1">公司简介</a></li>
		            <li><a href="page6.html#app2">企业文化</a></li>
		            <li><a href="page6.html#app3">组织架构</a></li>
		            <li><a href="page6.html#app4">团队建设</a></li>
		            <li><a href="page6.html#app5">联系我们</a></li>
		        </ul>
			</div>
			<div id="footer-tell">
	            山西中质信联信息科技有限公司<br>
	            地址&nbsp;&nbsp;:&nbsp;&nbsp;山西省太原市高新街17号环能科技1-3层<br>
	            服务热线&nbsp;&nbsp;:&nbsp;&nbsp;<span>0351-6330000</span>
			</div>
		</div>
		<div id="bottom">Copyright © 2015 中质信联 地址：太原市高新街环能科技 晋ICP备11005736号-2</div>
	</footer>

	<aside id="back-top">
		<a href="#top"><img src="images/top.png" alt="top"></a>
		<div>TOP</div>
	</aside>

</body>
</html>