<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../layui/css/layui.css">
  <style>
    .header { margin: 20px 30px 0 30px; }
    .container { margin: 0px 30px 20px 30px; }
    .layui-field-title { margin-bottom: 10px }
    .layui-table-cell {height: auto; line-height: 28px; }
    #detail {text-align: center;}
    #date { height: 32px; }
    .layui-form-label { line-height: 15px; }
  </style>
  <title>实习周报管理</title>
</head>
<body class="layui-bg-gray">

  <div style="background-color: #fff;padding: 15px; margin: 20px;">
    <div class="header">
      <fieldset class="layui-elem-field layui-field-title" style="margin-bottom: 0">
        <legend>实习周报管理</legend>
        <div class="layui-field-box">
          <form class="layui-form" lay-filter="searchData" style="margin-top: 15px;">
            <div class="layui-form-item">
              <label class="layui-form-label">周报日期</label>
              <div class="layui-input-inline">
                <input id="date" type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-input-inline">
                <button class="layui-btn layui-btn-sm layui-btn-normal" style="margin-left: 20px; padding: 0 20px;">确认查询</button>
              </div>
          </form>
        </div>
      </fieldset>
    </div>
    
    <div class="container">
      <!-- 表格 -->
      <table id="classInfo" lay-filter="table"></table>
      <script type="text/html" id="imgTpl">
        <img class="zoomify" src="{{ d.src }}" title="{{ d.src }}" height="88px" />
      </script>
      <script type="text/html" id="tableTool">
        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit" href="{{d.src}}" target="adminBody" download>下载</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
      <!-- 新增按钮 -->
      <a style="margin-top: 10px; margin-bottom: 15px; padding: 0 20px;" 
        class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add" 
        href="addWeekly.html" target="adminBody">新增一条记录</a>
      <a style="margin-top: 10px; margin-bottom: 15px; padding: 0 20px;" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add" href="##" target="adminBody">批量删除</a>
    </div>
  </div>


  <script src="../layui/layui.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script>

    // 初始化的数据
    let colsInitData = [
      {type:'numbers'},
      {type:'checkbox'},
      {field: 'date', title: '时间', width: '110', align:'center'},
      {field: 'classId', title: '实习班级', width: '110', align:'center'},
      {field: 'img', title: '会议信息', width: '250', align:'center', templet: '#imgTpl'},
      {field: 'toolbar', title: '操作', width:165, align:'center', toolbar: '#tableTool'}
    ]

    // 使用form组件
    layui.use('form', function(){
      var form = layui.form;
     
    });

    // 使用table组件
    layui.use('table', function(){
      var table = layui.table
      //第一个实例
      table.render({
        elem: '#classInfo',
        page: true, //开启分页
        cols: [colsInitData],
        data: [
          {
            date: '2018.03.26',
            classId: '1006',
            src: '../images/01.png'
          },
          {
            date: '2018.03.26',
            classId: '1006',
            src: '../images/01.png'
          },
          {
            date: '2018.03.26',
            classId: '1006',
            src: '../images/01.png'
          },
          {
            date: '2018.03.26',
            classId: '1006',
            src: '../images/01.png'
          },
          {
            date: '2018.03.26',
            classId: '1006',
            src: '../images/01.png'
          }
        ]
      });

      table.on('tool(table)', function (obj) {
        let data = obj.data,
          layEvent = obj.event
        console.log(data)
        let str = '<div id=\"detail\">'
          + '<img src=\"'
          + data.src
          +'\" />'
          + '</div>'
        if (layEvent === 'detail') {
          layer.open({
            type:1,
            content: str,
            title: data.name,
            shadeClose: true,
            anim: 0,
            maxmin: true,
            area: '600px'
          })          


        } else if(layEvent === 'del'){
          layer.confirm('确认删除这条记录？', {title: '警告'}, function(index){
            obj.del(); //删除对应行（tr）的DOM结构
            layer.close(index);
            //向服务端发送删除指令
          });
        }
      })

      //监听单元格编辑
      table.on('edit(table)', function(obj){
        layer.msg('修改成功');
      });
    });
    

    // 使用日期组件
    layui.use('laydate', function() {
      var laydate = layui.laydate
      laydate.render({
        elem: '#date'
      })
      laydate.render({
        elem: '#date1'
      })
    })

  </script>
</body>
</html>