<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../layui/css/layui.css">
  <style>
    .header { margin: 20px 30px 0 30px; }
    .container { margin: 0px 30px 20px 30px; }
    .layui-field-title { margin-bottom: 10px }
    #detail { padding: 20px; line-height: 27px;}
    #detail span { font-weight: 500; margin-right: 5px; }
  </style>
  <title>用户管理</title>
</head>
<body class="layui-bg-gray">

  <div style="background-color: #fff;padding: 15px; margin: 20px;">
    <div class="header">
      <fieldset class="layui-elem-field  layui-field-title">
        <legend>用户管理</legend>
        <div class="layui-field-box">
          <form class="layui-form" lay-filter="searchData">
            <div class="layui-form-item layui-inline" style="margin-top: 10px;">
                <label class="layui-form-label" style="width: 90px; padding: 4px 15px;">姓名/用户名</label>
                <input type="text" name="title" style="height: 30px;" placeholder="请输入姓名/用户名" autocomplete="off" class="layui-input layui-input-inline">
                <button class="layui-btn layui-btn-sm layui-btn-normal" style="margin-left: 20px; padding: 0 20px;">确认查询</button>
            </div>
          </form>
        </div>
      </fieldset>
    </div>
    
    <div class="container">
      <!-- 表格 -->
      <table id="classInfo" lay-filter="table"></table>
      <script type="text/html" id="switchTpl">
        <!-- 这里的 checked 的状态只是演示 -->
        <input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="sexDemo" {{ d.id == 10003 ? 'checked' : '' }}>
      </script>
      <script type="text/html" id="tableTool">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
      <!-- 新增按钮 -->
      <a style="margin-top: 10px; margin-bottom: 15px; padding: 0 20px;"
        class="layui-btn layui-btn-normal layui-btn-sm" 
        lay-event="add" href="addUser.html" target="adminBody">新增一条记录</a>
      <a style="margin-top: 10px; margin-bottom: 15px; padding: 0 20px;" class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add" href="##" target="adminBody">批量删除</a>
    </div>
  </div>



  <script src="../layui/layui.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script>

    // 初始化的数据
    let colsInitData = [
      {type:'numbers'},
      {type:'checkbox'},
      {field: 'name', title: '姓名', width: '90', align:'center', edit: 'text'},
      {field: 'username', title: '用户名', width: '120', align:'center', edit: 'text'},
      {field: 'password', title: '密码', width: '160', align:'center', edit: 'text'},
      {field: 'unit', title: '部门/单位', width: '140', align:'center', edit: 'text'},
      {field:'status', title:'是否禁用', width:90, align:'center', templet: '#switchTpl', unresize: true},
      {field: 'toolbar', title: '操作', width:90, align:'center', toolbar: '#tableTool'}
    ]

    // 使用form组件
    layui.use('form', function(){
      var form = layui.form;
    });

    // 使用table组件
    layui.use('table', function(){
      var table = layui.table
      //第一个实例
      table.render({
        elem: '#classInfo',
        page: true, //开启分页
        cols: [colsInitData],
        data: [
          {
            name: '王宇',
            username: 'smallyu',
            password: '499503799',
            unit: '宣传部',
            status: false
          },{
            name: '王宇',
            username: 'smallyu',
            password: '499503799',
            unit: '宣传部',
            status: false
          },{
            name: '王宇',
            username: 'smallyu',
            password: '499503799',
            unit: '宣传部',
            status: false
          },{
            name: '王宇',
            username: 'smallyu',
            password: '499503799',
            unit: '宣传部',
            status: false
          },{
            name: '王宇',
            username: 'smallyu',
            password: '499503799',
            unit: '宣传部',
            status: false
          },
        ]
      });

      table.on('tool(table)', function (obj) {
        let data = obj.data,
          layEvent = obj.event
        console.log(data)
        let str = '<div id=\"detail\"><span>日期：</span>'
          + data.date
          + '<br><span>成绩：</span>'
          + data.score
          + '<br><span>评价：</span>'
          + data.content
          + '<br><span>评价人：</span>'
          + data.appraiser
          + '</div>'
        if (layEvent === 'detail') {
          layer.open({
            type:1,
            content: str,
            title: data.name,
            shadeClose: true,
            anim: 0,
            maxmin: true,
            area: '500px'
          })          


        } else if(layEvent === 'del'){
          layer.confirm('确认删除这条记录？', {title: '警告'}, function(index){
            obj.del(); //删除对应行（tr）的DOM结构
            layer.close(index);
            //向服务端发送删除指令
          });
        }
      })

      //监听单元格编辑
      table.on('edit(table)', function(obj){
        layer.msg('修改成功');
      });
    });
    
  </script>
</body>
</html>